---
:repository: bitbucket_user/bitbucket_repository

:authentication:
  # This section is passed directly to BitBucket.new with the intent of
  # establishing authentication.  More details about valid values can be
  # found here: https://github.com/bitbucket-rest-api/bitbucket#usage

  # To use an OAuth token and secret:
  # :oauth_token: your_oauth_token
  # :oauth_secret: your_oauth_secret

  # To use a client ID and secret:
  # :client_id: your_client_id
  # :client_secret: your_client_secret

  # To use basic authentication:
  # :login: your_username
  # :password: your_password
